<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello there!</h1>
    <p>
      We have received your order and will be shipping within 5 to 7 business days. 
    </p>
    
    <p>Thanks for ordering with us and have a great day!</p>

    <p>The Jungle Team</p>
  </body>
</html>